*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'block/menu';
@import 'block/header';
@import 'block/myliv';
@import 'block/carousel';
@import 'block/tema-worck';
@import 'block/money';


@import 'block/pageup';
@import 'block/media';