.money-bg {
    background: linear-gradient(to bottom, rgb(77, 50, 24), rgb(255, 255, 255));
    height: 100%;
    .money {
        display: flex;
        flex-direction: column;
        &_header {
            font-size: 42px;
            text-align: center;
            padding-top: 60px;
            text-transform: uppercase;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 100px;
            .money_iner{
                font-size: 30px;
                padding-top: 30px;
                text-align: center;
            }
        }
    }
}